body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

input, button {
    margin-bottom: 10px;
}

#mensaje-error {
    color: red;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
#dinero {
    width: 200px;
}

#ver_saldo, #Extraer, #Deposito {
    display: block;
    margin-top: 10px;
}



